:root {
    --dark: #2a2a2a;
    --ligth: #E9F7EF;
    --primary: #145A32;
    --primary-ligth: #D4EFDF;
    --secondary: #F1C40F;
}

/* * {
    background: rgb(0 100 0 / 0.1) !important;
  } */

html {
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: medium;
}

/* CABECERA */

body {
    background-image: linear-gradient(to top, var(--primary-ligth) 0%, var(--ligth) 100%);
}

header h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--primary);
}

header h1 span {
    text-align: center;
    font-size: 1.5rem;
}

a {
    color: var(--ligth);
    text-decoration: none;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: var(--primary);
    padding: 1rem;

}

.banner {
    background-image: url(../assets/header-bg.jpg);
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    color: var(--ligth);
}

.banner section {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 50, 25, 0.65);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner a {
    background-color: var(--secondary);
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 90%;
}

.location {
    display: flex;
    align-items: center;
    gap: 1.5;
    margin-bottom: 1rem;

}


/* CONTENIDO MAIN */

.container {
    background-color: var(--primary-ligth);
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    border-radius: 16px;
    box-shadow: -4px 4px 12px 0px rgba(20, 90, 3, 0.2);
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.servicios {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.iconos-servicios {
    background-color: var(--secondary);
    border-radius: 100%;
    padding: 2rem;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
        padding: auto;
    }

    .servicios {
        flex-direction: row;
    }
}

/* FORMULARIO DE CONTACTO */

.contacto {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contacto h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    background-color: var(--dark);
    border-radius: 8px;
    width: 80%;
    color: var(--ligth);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

fieldset label {
    margin: 1.5rem 0rem 1rem 0rem;
}

.formulario legend {
    font-size: 1.2rem;
}

.input-grid{

}

@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
    }

    .banner a {
        width: auto;
    }

    .formulario {
        width: 40%;
    }

}